body{
	background: grey;
}
strong {
	font-size: 26px;
}
nav {
	width:15%;
	height:95%;
	position:absolute;
	background: #ababab;
}

nav li {
	position: relative;
	list-style: none;
	padding: 10px;
	width: 112%;
	margin-left: -40px;
	color:black;
}
nav a {
	text-decoration:none;
}

nav li:hover{
	background: #bcbcbc;
}

section {
	border:solid 2px orange;
	width:80%;
	position:absolute;
	left:17%;
	padding: 10px;
	background: #ababab;
}
#list {
	display:none;
}

#list li {
	display: block;
	float: left;
	margin-left: 5%;
	margin-bottom: 15px;
}

table{
	width: 500px ;
	margin-left:auto;
	margin-right: auto ;
	border-collapse: collapse ;
}


/* Paramètres pour les cellules classiques ET les cellules d'en-tête */
 table td { /*table th pour rajouter la premiere ligne au tableau*/
	border: 1px dashed #8f10ff ;	
	padding: 5px ;
	width: 200px;
}

/* Paramètres pour les lignes de contenu */


/* Paramètres pour les lignes de contenu paires */
table tbody tr:nth-child(2n) { 
	background-color: #D3D3D3 ;
}

/* Paramètres pour les lignes de contenu au survol de la souris */
table tbody tr:hover { 
	background-color: grey ;
	color: white ; 
}



#barre{
	width: 75%;
	text-align: center;
	padding: 0.5%;
	font-size: 20px;
	border-radius: 15px 60px 15px 60px;
	border:outset 5px grey;
	box-shadow: 10px 5px 5px grey;
}

#send{
	width: 50%;
	margin-top: 10px;
	font-size: 20px;

}

#listChercher{
	display:none;
	text-align: center;
	margin-top: 10px;
}

#menuListDer{
	margin-top:5px;
}

#blackedlist{
	display: none;
}

#dash{
	display:none;
}

#dash div {
	width: 300px;
	height: 100px;
	padding: 10px;
	margin:10px;
	border:solid 2px red;
	display: inline-block;
}

.cookieTXT{
	width:450px;
}
.logo{
	width: 25px;
}